.miniplayer_global {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: white;
}

#miniplayer_container {
    position: relative;
    width: 100%;
    height: 100%;
}

#miniplayer_video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#miniplayer_player {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#miniplayer_controls_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#miniplayer_playerCover {
    position: absolute;
    width: 100%;
    height: 97.5%;
    top: 0px;
}

#miniplayer_scrubBar {
    position: absolute;
    width: 100%;
    height: 2.5%;
    bottom: 0px;
    background: #505050;
}

#miniplayer_progressBar {
    position: absolute;
    width: 0%;
    height: 40%;
    bottom: 30%;
    left: 0px;
    background: #c70700;
}

.miniplayer_bufferBar {
    position: absolute;
    height: 100%;
    left: 0px;
    background: #808080;
}

#miniplayer_scrub {
    position: fixed;
    display: none;
    width: 144px;
    height: auto;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    pointer-events: none;
}

#miniplayer_renderrer {
    display: none;
}